/* row */
.row {
	border-bottom: 1px solid #73c8f1;
	width: 100%;
}

.row,.row .hoverPanelInner {
	background-color: #cfe0f1;
}

.row.row-unread,.row.row-unread .hoverPanelInner {
	background-color: #eff0f8;
}

.row.row-selected,.row.row-selected .hoverPanelInner {
	background-color: #ffffc0;
}

.row .hoverPanelInner {
	line-height: 1.9em;
}

.rowHeader {
	height: 2em;
}

.rowHeaderLeft {
	line-height: 2em;
	height: 100%;
	float: left;
}

.rowHeaderRight {
	line-height: 2em;
	height: 100%;
	float: right;
}

.rowHeaderIcon {
	vertical-align: middle;
	opacity: 0.3;
	filter: alpha(opacity \= 30);
	width: 24px;
	margin: 0px 1em;
}

.rowHeaderIcon:hover {
	opacity: 1;
	filter: alpha(opacity \= 100);
}

.row .labelsBar .addButton {
	display: none;
}

.row .labelsBar:hover .addButton {
	display: inline;
}

.itemSource,.itemLink {
	padding-left: 1em;
}

.itemSource a {
	text-decoration: none;
	color: black;
}

.itemTitle {
	font-size: 110%;
	line-height: 1.7em;
	margin-left: 24em;
	margin-right: 12em;
	cursor: pointer;
}

.row.row-unread .itemTitle {
	font-weight: bold;
}

.row-selected .itemTitle {
	font-size: 1.2em;
	font-weight: bold;
}