.row {
	border: 1px solid blue;
	padding: 1em 0;
	background-color: orange;
	width: 100%;
}

.row-content {
	background-color: red;
	margin: 1em;
}

.row-expanded .row-header {
	font-weight: bold;
}

.labels-bar-add-button {
	display: none;
}

.labels-bar:hover .labels-bar-add-button {
	display: inline-block;
}

.label,.labels-bar-add-button,.panel-with-more-button,.labels-bar-suggest-box
	{
	margin: 0px 0.5em;
}

.label-remove-button {
	font-size: x-small;
	vertical-align: top;
	color: grey;
	font-weight: bold;
}

.label-remove-button:hover {
	color: red;
}

.labels-bar,.labels-bar-suggest-box {
	display: inline;
}

.labels-bar {
	float: left;
	width: 15em;
	min-height: 1ex;
	overflow: hidden;
}